.ofertas-educativas-table-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--neutral-color);
    min-height: calc(100vh - 64px); /* Ajusta según la altura de tu barra de navegación */
}

.add-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color-light);
    margin-bottom: 20px; /* Añade margen inferior para separar del contenido */
    align-self: flex-start; /* Alinea el botón a la izquierda */
}

.add-button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--text-color-light);
}

.table-container {
    width: 100%;
    max-width: 90%; /* Ajusta según el porcentaje deseado */
    overflow-x: auto;
    background-color: var(--text-color-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    margin-bottom: 20px; /* Añade un margen inferior para separar de otros elementos */
}

.formato-tabla {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    text-align: center;
    background-color: var(--text-color-light);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto; /* Centra la tabla en la página */
}

.formato-tabla thead {
    background-color: var(--text-color);
    color: var(--text-color-light);
    font-weight: bold;
}

.formato-tabla th,
.formato-tabla td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

.formato-tabla th {
    border-right: 1px solid var(--border-color);
}

.formato-tabla th:last-child {
    border-right: none;
}

.formato-tabla tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.formato-tabla tbody tr:nth-of-type(even) {
    background-color: var(--neutral-color);
}

.formato-tabla tbody tr:hover {
    background-color: var(--hover-color);
}

.formato-tabla tbody tr:last-of-type {
    border-bottom: none;
}

.formato-tabla td {
    border-right: 1px solid var(--border-color);
}

.formato-tabla td:last-child {
    border-right: none;
}

.action-button {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 120px;
    color: var(--text-color-light);
}

.action-button.ant-btn-danger {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.action-button.ant-btn-danger:hover {
    background-color: var(--hover-secondary-color);
    border-color: var(--hover-secondary-color);
}

.action-button.ant-btn-success {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.action-button.ant-btn-success:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.ant-modal-body {
    text-align: left;
}
